# Scale Up With Python

## Part 1: Let's Get Coding

**Contents:**

* **This is a Jupyter Notebook**
* **Basic Python data types**
    * Strings
    * Integers/Float
    * Boolean
    * Sequences (Lists)
    * Mappings (Dictionaries)
    
    
* **What can we do with this data?**
    * Variables
    * Methods
    * Loops
    * Conditional Logic
    * Functions
    
    
* **Other data objects?**
    * Install/Import
    * A few more types
    * Pandas DataFrames walkthrough

### Notebooks

Kernel: underlying environment/files for a given session

Here is an empty cell:

Here is a cell with a comment

In [ ]:
# generic comment

Please create another cell:

### Types

###### Basics

[Strings](https://docs.python.org/3/library/stdtypes.html#text-sequence-type-str) - *a proxy for raw text, signified by quote enclosure*

In [1]:
'Howdy!'

'Howdy!'

In [2]:
# Can be empty
''

''

In [3]:
# Triple quotation allows for linebreaks
"""Well here's a lengthy piece of



text
"""

"Well here's a lengthy piece of\n\n\n\ntext\n"

In [4]:
# Can use print 'function' to view text cleanly
print("""Well here's a lengthy piece of



text
""")

Well here's a lengthy piece of



text

In [5]:
# Even non-'text' items are strings if enclosed by quotation marks
'20'

'20'

In [6]:
# Function to check data type
type('20')

str

[Integers](https://docs.python.org/3/library/stdtypes.html#numeric-types-int-float-complex) - *whole numbers*

In [7]:
100

100

In [8]:
# Can perform operations on integers
100+20

120

In [9]:
# Can perform operations on integers
100*20

2000

In [10]:
# Can perform operations on integers -> division will automatically become decimalised 'float'
100/20

5.0

In [11]:
# Can perform operations on integers -> can easily go between float/integer for whole numbers
int(100/20)

5

In [12]:
# Function to check data type
type(20)

int

[Float](https://docs.python.org/3/library/stdtypes.html#numeric-types-int-float-complex) - *all real numbers, signified with decimal point*

In [13]:
100.0

100.0

In [14]:
# Can perform operations on floats
100.0+20.0

120.0

In [15]:
# Can perform operations on floats
100.0/20.0

5.0

In [16]:
# Can perform operations on floats and integers -> mixed arithmetic 
100.0**2

10000.0

In [17]:
# Function to check data type
type(20.0)

float

Boolean - *logical type, either yes or no (True or False), no quotation marks!*

In [18]:
True

True

In [19]:
False

False

In [20]:
# Can go between integer/boolean
bool(1)

True

In [21]:
# Can go between integer/boolean
bool(0)

False

In [22]:
# Boolean does not equal string!
True=='True'

False

In [23]:
# Can't easily convert from string!
False==bool('False')

False

In [24]:
# Function to check data type
type(True)

bool

[None](https://docs.python.org/3/reference/datamodel.html#none) - *Nada, Zilch, Nothing at All*

In [25]:
None

In [26]:
# Function to check data type
type(None)

NoneType

###### [Sequences ](https://docs.python.org/3/reference/datamodel.html#sequences)
* Excluding Tuples/Ranges

Lists - *flexible, mutable, ordered group of data objects*

In [27]:
# Can consist of multiple data types
[1,3,'10',None,15]

[1, 3, '10', None, 15]

In [28]:
# List can contain list
[1,3,[10,5]]

[1, 3, [10, 5]]

In [29]:
# Can be combined
[1,3,'10',None,15]+['17']

[1, 3, '10', None, 15, '17']

In [30]:
# Ordered: can subselect items - FROM ZERO
[1,3,'10',None,15][0]

1

In [31]:
# Index 3 is actually the fourth entry in the sequence
[1,3,'10',None,15][3]

In [32]:
# Negative indicies select in reverse
[1,3,'10',None,15][-1]

15

In [33]:
# Index 10 doesnt exist
[1,3,'10',None,15][10]

IndexError: list index out of range

In [34]:
# We can select a range of entries, does not include endpoint
[1,3,'10',None,15][0:2]

[1, 3]

In [35]:
# Function to check data type
type([])

list

###### [Mapping ](https://docs.python.org/3/reference/datamodel.html#mappings)

Dictionaries - *set of mappings based on key,value pairs*

In [36]:
# Value type flexible
{'integer':10,
'float':8.5,
'string':'numbers'}

{'integer': 10, 'float': 8.5, 'string': 'numbers'}

In [37]:
# Can't have multiple instances of the same word in a dictionary -> must be single key but can have multiple definitions (list)
{'entry1':5,
'entry2':[10,20],
'entry1':(5.0,5.0)}

{'entry1': (5.0, 5.0), 'entry2': [10, 20]}

In [38]:
# Can 'lookup' dictionary value
{'integer':10,
'float':8.5,
'string':'numbers'}['integer']

10

In [39]:
# Function to check data type
type({'integer':10,
'float':8.5,
'string':'numbers'})

dict

### [Variables](https://realpython.com/python-variables/)

Some basic examples

In [40]:
# Set
fruit='apple'
print(fruit)

apple

In [41]:
# Compare
building_1=105.5
building_2=200.6

building_2-building_1

95.1

In [42]:
# Combine
software_list_mac=['Safari','Garageband','Apple TV']
software_list_windows=['Microsoft Excel', 'Microsoft Word','Outlook']

software_list_mac+software_list_windows

['Safari',
 'Garageband',
 'Apple TV',
 'Microsoft Excel',
 'Microsoft Word',
 'Outlook']

Dictionary Operations - *too verbose to define and subselect all in one cell, let's use a variable to simplify*

In [43]:
# Set
shopping_list={'apple':6,
'banana':4,
'hobnob (pack)':1,
'salmon':2,
'crab':1}

In [44]:
# Lookup
shopping_list['apple']

6

In [45]:
# Lookup
shopping_list['hobnob (pack)']

1

In [46]:
# Lookup
shopping_list['salmon']=1

In [47]:
# View
shopping_list

{'apple': 6, 'banana': 4, 'hobnob (pack)': 1, 'salmon': 1, 'crab': 1}

In [48]:
# Method - view keys
shopping_list.keys()

dict_keys(['apple', 'banana', 'hobnob (pack)', 'salmon', 'crab'])

In [49]:
# Method - lookup values
shopping_list.values()

dict_values([6, 4, 1, 1, 1])

List Operations - *too verbose to define and subselect all in one cell, let's use a variable to simplify*

In [50]:
# Set/View
inventory=['apple','banana','pear','jackfruit','digestives (pack)','penguins (pack)',
           'hobnob (pack)','rice (pack)','potato','cod','prawns','seabass','salmon','tuna']

inventory

['apple',
 'banana',
 'pear',
 'jackfruit',
 'digestives (pack)',
 'penguins (pack)',
 'hobnob (pack)',
 'rice (pack)',
 'potato',
 'cod',
 'prawns',
 'seabass',
 'salmon',
 'tuna']

In [51]:
# Subselect
inventory[0]

'apple'

In [52]:
# Indexed but no lookup
inventory['apple']

TypeError: list indices must be integers or slices, not str

In [53]:
# Method - add item
inventory.append('snickers')
inventory

['apple',
 'banana',
 'pear',
 'jackfruit',
 'digestives (pack)',
 'penguins (pack)',
 'hobnob (pack)',
 'rice (pack)',
 'potato',
 'cod',
 'prawns',
 'seabass',
 'salmon',
 'tuna',
 'snickers']

In [54]:
# Method - add many items (list)
inventory.extend(['galaxy'])
inventory

['apple',
 'banana',
 'pear',
 'jackfruit',
 'digestives (pack)',
 'penguins (pack)',
 'hobnob (pack)',
 'rice (pack)',
 'potato',
 'cod',
 'prawns',
 'seabass',
 'salmon',
 'tuna',
 'snickers',
 'galaxy']

Assignment vs Logic - *how do we compare variables?*

In [55]:
# Single '=' signifies assignment
inventory[-1]='haddock'
inventory

['apple',
 'banana',
 'pear',
 'jackfruit',
 'digestives (pack)',
 'penguins (pack)',
 'hobnob (pack)',
 'rice (pack)',
 'potato',
 'cod',
 'prawns',
 'seabass',
 'salmon',
 'tuna',
 'snickers',
 'haddock']

In [56]:
# Double '==' signifies comparison -> returns boolean
inventory[-1]=='haddock'

True

In [57]:
# Double '==' signifies comparison -> returns boolean
inventory[-1]=='tuna'

False

In [58]:
# Can use 'in' to check if value exists in sequence -> returns boolean
'haddock' in inventory

True

In [59]:
# Can use 'in' to check if value exists in sequence -> returns boolean
'Haddock' in inventory

False

In [60]:
# Can use 'and' (&) to combine multiple pieces of logic -> returns boolean
('haddock' in inventory) & ('wine' in inventory)

False

In [61]:
# Can use 'or' (|) to combine multiple pieces of logic -> returns boolean
('haddock' in inventory) | ('wine' in inventory)

True

### What can we do with these variables?

[Loops](https://docs.python.org/3/tutorial/datastructures.html#looping-techniques) - *iterate through sequence*

In [62]:
# For loop
for item in inventory:
    print(item)

apple
banana
pear
jackfruit
digestives (pack)
penguins (pack)
hobnob (pack)
rice (pack)
potato
cod
prawns
seabass
salmon
tuna
snickers
haddock

In [63]:
# While loop - be careful of infinite loop
i=0
while i<12:
    print(inventory[i])
    i+=1

apple
banana
pear
jackfruit
digestives (pack)
penguins (pack)
hobnob (pack)
rice (pack)
potato
cod
prawns
seabass

[Conditional Statements](https://docs.python.org/3/tutorial/controlflow.html) - *performs action depending on logic*

In [64]:
item='apple'

if item in inventory:
    print('In Inventory')
else:
    print('Unavailable')

In Inventory

In [65]:
item='grapefruit'

if item in inventory:
    print('In Inventory')
else:
    print('Unavailable')

Unavailable

In [66]:
# Can combine loops and conditional statements
all_items_shopping_list={}

# Loop through each item in stores inventory
for item in inventory:

    # Check if item is in shopping list
    if item in shopping_list.keys():
        # If item in shopping list, add to all_items_shopping_list with desired purchase volume
        all_items_shopping_list[item]=shopping_list[item] 
        
    else:
        # If item in not shopping list, add to all_items_shopping_list with purchase volume equals zero
        all_items_shopping_list[item]=0

In [67]:
all_items_shopping_list

{'apple': 6,
 'banana': 4,
 'pear': 0,
 'jackfruit': 0,
 'digestives (pack)': 0,
 'penguins (pack)': 0,
 'hobnob (pack)': 1,
 'rice (pack)': 0,
 'potato': 0,
 'cod': 0,
 'prawns': 0,
 'seabass': 0,
 'salmon': 1,
 'tuna': 0,
 'snickers': 0,
 'haddock': 0}

###### Functions

Native

In [68]:
# Universal: View object below cell
print(all_items_shopping_list)

{'apple': 6, 'banana': 4, 'pear': 0, 'jackfruit': 0, 'digestives (pack)': 0, 'penguins (pack)': 0, 'hobnob (pack)': 1, 'rice (pack)': 0, 'potato': 0, 'cod': 0, 'prawns': 0, 'seabass': 0, 'salmon': 1, 'tuna': 0, 'snickers': 0, 'haddock': 0}

In [69]:
# Methods: tied to data type
all_items_shopping_list.keys()

dict_keys(['apple', 'banana', 'pear', 'jackfruit', 'digestives (pack)', 'penguins (pack)', 'hobnob (pack)', 'rice (pack)', 'potato', 'cod', 'prawns', 'seabass', 'salmon', 'tuna', 'snickers', 'haddock'])

In [70]:
# Methods: tied to data type
all_items_shopping_list.items()

dict_items([('apple', 6), ('banana', 4), ('pear', 0), ('jackfruit', 0), ('digestives (pack)', 0), ('penguins (pack)', 0), ('hobnob (pack)', 1), ('rice (pack)', 0), ('potato', 0), ('cod', 0), ('prawns', 0), ('seabass', 0), ('salmon', 1), ('tuna', 0), ('snickers', 0), ('haddock', 0)])

[Custom](https://docs.python.org/3/tutorial/controlflow.html#defining-functions)

In [71]:
# Create price dictionary
inventory_price_dict={
'apple':0.25,
'banana':0.25,
'pear':0.3,
'jackfruit':0.6,
'digestives (pack)':1.5,
'penguins (pack)':2,
'hobnob (pack)':2,
'rice (pack)':2.5,
'potato':0.5,
'cod':3.5,
'prawns':4,
'seabass':5,
'salmon':4,
'tuna':5,
'snickers':0.75,
'haddock':3    
}

In [72]:
# Define function to calculate total price of shop based on input dictionary 'shopping_list'

def shopping_spend(shopping_list:dict):
    
    # Spend starts at zero
    spend=0

    # Loop through each item in your shopping list
    for item in shopping_list.keys():
        
        # Check if item in available in inventory
        if item in inventory_price_dict.keys():
            # If item available, multiply cost by purchase volume and add to existing spend total
            spend+=inventory_price_dict[item]*shopping_list[item]
        
        # Check if item unavailable, add zero to spend and move onto the next item on the shopping list    
        else:
            spend+=0
    
     # After looping through complete shopping list, return total spend
    return(spend)

In [73]:
# Run shopping_spend function over shopping list
shopping_spend(shopping_list)

8.5

### [Packages](https://docs.python.org/3/tutorial/modules.html#packages)

pip install - *standard method of installing python packages/libraries*

In [75]:
# '!' sends command to Terminal
!pip install numpy

Requirement already satisfied: numpy in /opt/homebrew/anaconda3/lib/python3.9/site-packages (1.22.4)

In [76]:
# includes installation of dependencies 
!pip install pandas

Requirement already satisfied: pandas in /opt/homebrew/anaconda3/lib/python3.9/site-packages (1.4.2)
Requirement already satisfied: python-dateutil>=2.8.1 in /opt/homebrew/anaconda3/lib/python3.9/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /opt/homebrew/anaconda3/lib/python3.9/site-packages (from pandas) (2021.3)
Requirement already satisfied: numpy>=1.20.0 in /opt/homebrew/anaconda3/lib/python3.9/site-packages (from pandas) (1.22.4)
Requirement already satisfied: six>=1.5 in /opt/homebrew/anaconda3/lib/python3.9/site-packages (from python-dateutil>=2.8.1->pandas) (1.15.0)

In [77]:
# includes installation of dependencies 
!pip install seaborn

Requirement already satisfied: seaborn in /opt/homebrew/anaconda3/lib/python3.9/site-packages (0.11.2)
Requirement already satisfied: matplotlib>=2.2 in /opt/homebrew/anaconda3/lib/python3.9/site-packages (from seaborn) (3.5.1)
Requirement already satisfied: numpy>=1.15 in /opt/homebrew/anaconda3/lib/python3.9/site-packages (from seaborn) (1.22.4)
Requirement already satisfied: scipy>=1.0 in /opt/homebrew/anaconda3/lib/python3.9/site-packages (from seaborn) (1.9.3)
Requirement already satisfied: pandas>=0.23 in /opt/homebrew/anaconda3/lib/python3.9/site-packages (from seaborn) (1.4.2)
Requirement already satisfied: fonttools>=4.22.0 in /opt/homebrew/anaconda3/lib/python3.9/site-packages (from matplotlib>=2.2->seaborn) (4.25.0)
Requirement already satisfied: python-dateutil>=2.7 in /opt/homebrew/anaconda3/lib/python3.9/site-packages (from matplotlib>=2.2->seaborn) (2.8.2)
Requirement already satisfied: kiwisolver>=1.0.1 in /opt/homebrew/anaconda3/lib/python3.9/site-packages (from matplotlib>=2.2->seaborn) (1.3.2)
Requirement already satisfied: pillow>=6.2.0 in /opt/homebrew/anaconda3/lib/python3.9/site-packages (from matplotlib>=2.2->seaborn) (9.0.1)
Requirement already satisfied: pyparsing>=2.2.1 in /opt/homebrew/anaconda3/lib/python3.9/site-packages (from matplotlib>=2.2->seaborn) (3.0.4)
Requirement already satisfied: cycler>=0.10 in /opt/homebrew/anaconda3/lib/python3.9/site-packages (from matplotlib>=2.2->seaborn) (0.11.0)
Requirement already satisfied: packaging>=20.0 in /opt/homebrew/anaconda3/lib/python3.9/site-packages (from matplotlib>=2.2->seaborn) (21.3)
Requirement already satisfied: pytz>=2020.1 in /opt/homebrew/anaconda3/lib/python3.9/site-packages (from pandas>=0.23->seaborn) (2021.3)
Requirement already satisfied: six>=1.5 in /opt/homebrew/anaconda3/lib/python3.9/site-packages (from python-dateutil>=2.7->matplotlib>=2.2->seaborn) (1.15.0)

Let's Import A Couple

In [78]:
# Import whole package as variable
import numpy as np
import pandas as pd
import seaborn as sns

###### [Numpy](https://numpy.org/) Types

* NumPy is a broader mathematics package for Python
* Many uses, notably quick vector calculations

1D Numpy Arrays - *vector*

In [79]:
vector=np.array([0.0,1.5,4.5])
vector

array([0. , 1.5, 4.5])

2D Numpy Arrays - *matrix*

In [80]:
matrix=np.array([[0.5,1.0,10.0],
        [0.0,3.5,5.5]])
matrix

array([[ 0.5,  1. , 10. ],
       [ 0. ,  3.5,  5.5]])

In [81]:
# Quick and built in linear algebra methods/functions
np.matmul(matrix,vector.T)

array([46.5, 30. ])

### [Pandas DataFrames](https://pandas.pydata.org/docs/user_guide/dsintro.html)

* Pandas is a common package used for data analytics
* It is dependant on NumPy and several other libraries
* The main benefit is it's easy to use 'DataFrame' object

Introduction - *what does an unseen dataframe look like?*

In [82]:
# Import ready-made pandas dataframe
sample_df = sns.load_dataset('iris')
sample_df

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

In [83]:
# Let's look at every row
pd.set_option('display.max_rows', 150)
sample_df

     sepal_length  sepal_width  petal_length  petal_width     species
0             5.1          3.5           1.4          0.2      setosa
1             4.9          3.0           1.4          0.2      setosa
2             4.7          3.2           1.3          0.2      setosa
3             4.6          3.1           1.5          0.2      setosa
4             5.0          3.6           1.4          0.2      setosa
5             5.4          3.9           1.7          0.4      setosa
6             4.6          3.4           1.4          0.3      setosa
7             5.0          3.4           1.5          0.2      setosa
8             4.4          2.9           1.4          0.2      setosa
9             4.9          3.1           1.5          0.1      setosa
10            5.4          3.7           1.5          0.2      setosa
11            4.8          3.4           1.6          0.2      setosa
12            4.8          3.0           1.4          0.1      setosa
13            4.3          3.0           1.1          0.1      setosa
14            5.8          4.0           1.2          0.2      setosa
15            5.7          4.4           1.5          0.4      setosa
16            5.4          3.9           1.3          0.4      setosa
17            5.1          3.5           1.4          0.3      setosa
18            5.7          3.8           1.7          0.3      setosa
19            5.1          3.8           1.5          0.3      setosa
20            5.4          3.4           1.7          0.2      setosa
21            5.1          3.7           1.5          0.4      setosa
22            4.6          3.6           1.0          0.2      setosa
23            5.1          3.3           1.7          0.5      setosa
24            4.8          3.4           1.9          0.2      setosa
25            5.0          3.0           1.6          0.2      setosa
26            5.0          3.4           1.6          0.4      setosa
27            5.2          3.5           1.5          0.2      setosa
28            5.2          3.4           1.4          0.2      setosa
29            4.7          3.2           1.6          0.2      setosa
30            4.8          3.1           1.6          0.2      setosa
31            5.4          3.4           1.5          0.4      setosa
32            5.2          4.1           1.5          0.1      setosa
33            5.5          4.2           1.4          0.2      setosa
34            4.9          3.1           1.5          0.2      setosa
35            5.0          3.2           1.2          0.2      setosa
36            5.5          3.5           1.3          0.2      setosa
37            4.9          3.6           1.4          0.1      setosa
38            4.4          3.0           1.3          0.2      setosa
39            5.1          3.4           1.5          0.2      setosa
40            5.0          3.5           1.3          0.3      setosa
41            4.5          2.3           1.3          0.3      setosa
42            4.4          3.2           1.3          0.2      setosa
43            5.0          3.5           1.6          0.6      setosa
44            5.1          3.8           1.9          0.4      setosa
45            4.8          3.0           1.4          0.3      setosa
46            5.1          3.8           1.6          0.2      setosa
47            4.6          3.2           1.4          0.2      setosa
48            5.3          3.7           1.5          0.2      setosa
49            5.0          3.3           1.4          0.2      setosa
50            7.0          3.2           4.7          1.4  versicolor
51            6.4          3.2           4.5          1.5  versicolor
52            6.9          3.1           4.9          1.5  versicolor
53            5.5          2.3           4.0          1.3  versicolor
54            6.5          2.8           4.6          1.5  versicolor
55            5.7          2.8           4.5          1.3  versicolor
56            6.3          3.3           4.7          1.6  versicolor
57            4.9          2.4           3.3          1.0  versicolor
58            6.6          2.9           4.6          1.3  versicolor
59            5.2          2.7           3.9          1.4  versicolor
60            5.0          2.0           3.5          1.0  versicolor
61            5.9          3.0           4.2          1.5  versicolor
62            6.0          2.2           4.0          1.0  versicolor
63            6.1          2.9           4.7          1.4  versicolor
64            5.6          2.9           3.6          1.3  versicolor
65            6.7          3.1           4.4          1.4  versicolor
66            5.6          3.0           4.5          1.5  versicolor
67            5.8          2.7           4.1          1.0  versicolor
68            6.2          2.2           4.5          1.5  versicolor
69            5.6          2.5           3.9          1.1  versicolor
70            5.9          3.2           4.8          1.8  versicolor
71            6.1          2.8           4.0          1.3  versicolor
72            6.3          2.5           4.9          1.5  versicolor
73            6.1          2.8           4.7          1.2  versicolor
74            6.4          2.9           4.3          1.3  versicolor
75            6.6          3.0           4.4          1.4  versicolor
76            6.8          2.8           4.8          1.4  versicolor
77            6.7          3.0           5.0          1.7  versicolor
78            6.0          2.9           4.5          1.5  versicolor
79            5.7          2.6           3.5          1.0  versicolor
80            5.5          2.4           3.8          1.1  versicolor
81            5.5          2.4           3.7          1.0  versicolor
82            5.8          2.7           3.9          1.2  versicolor
83            6.0          2.7           5.1          1.6  versicolor
84            5.4          3.0           4.5          1.5  versicolor
85            6.0          3.4           4.5          1.6  versicolor
86            6.7          3.1           4.7          1.5  versicolor
87            6.3          2.3           4.4          1.3  versicolor
88            5.6          3.0           4.1          1.3  versicolor
89            5.5          2.5           4.0          1.3  versicolor
90            5.5          2.6           4.4          1.2  versicolor
91            6.1          3.0           4.6          1.4  versicolor
92            5.8          2.6           4.0          1.2  versicolor
93            5.0          2.3           3.3          1.0  versicolor
94            5.6          2.7           4.2          1.3  versicolor
95            5.7          3.0           4.2          1.2  versicolor
96            5.7          2.9           4.2          1.3  versicolor
97            6.2          2.9           4.3          1.3  versicolor
98            5.1          2.5           3.0          1.1  versicolor
99            5.7          2.8           4.1          1.3  versicolor
100           6.3          3.3           6.0          2.5   virginica
101           5.8          2.7           5.1          1.9   virginica
102           7.1          3.0           5.9          2.1   virginica
103           6.3          2.9           5.6          1.8   virginica
104           6.5          3.0           5.8          2.2   virginica
105           7.6          3.0           6.6          2.1   virginica
106           4.9          2.5           4.5          1.7   virginica
107           7.3          2.9           6.3          1.8   virginica
108           6.7          2.5           5.8          1.8   virginica
109           7.2          3.6           6.1          2.5   virginica
110           6.5          3.2           5.1          2.0   virginica
111           6.4          2.7           5.3          1.9   virginica
112           6.8          3.0           5.5          2.1   virginica
113           5.7          2.5           5.0          2.0   virginica
114           5.8          2.8           5.1          2.4   virginica
115           6.4          3.2           5.3          2.3   virginica
116           6.5          3.0           5.5          1.8   virginica
117           7.7          3.8           6.7          2.2   virginica
118           7.7          2.6           6.9          2.3   virginica
119           6.0          2.2           5.0          1.5   virginica
120           6.9          3.2           5.7          2.3   virginica
121           5.6          2.8           4.9          2.0   virginica
122           7.7          2.8           6.7          2.0   virginica
123           6.3          2.7           4.9          1.8   virginica
124           6.7          3.3           5.7          2.1   virginica
125           7.2          3.2           6.0          1.8   virginica
126           6.2          2.8           4.8          1.8   virginica
127           6.1          3.0           4.9          1.8   virginica
128           6.4          2.8           5.6          2.1   virginica
129           7.2          3.0           5.8          1.6   virginica
130           7.4          2.8           6.1          1.9   virginica
131           7.9          3.8           6.4          2.0   virginica
132           6.4          2.8           5.6          2.2   virginica
133           6.3          2.8           5.1          1.5   virginica
134           6.1          2.6           5.6          1.4   virginica
135           7.7          3.0           6.1          2.3   virginica
136           6.3          3.4           5.6          2.4   virginica
137           6.4          3.1           5.5          1.8   virginica
138           6.0          3.0           4.8          1.8   virginica
139           6.9          3.1           5.4          2.1   virginica
140           6.7          3.1           5.6          2.4   virginica
141           6.9          3.1           5.1          2.3   virginica
142           5.8          2.7           5.1          1.9   virginica
143           6.8          3.2           5.9          2.3   virginica
144           6.7          3.3           5.7          2.5   virginica
145           6.7          3.0           5.2          2.3   virginica
146           6.3          2.5           5.0          1.9   virginica
147           6.5          3.0           5.2          2.0   virginica
148           6.2          3.4           5.4          2.3   virginica
149           5.9          3.0           5.1          1.8   virginica

In [84]:
# Let's just look at the first few
sample_df.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [85]:
# Let's look at the column types
sample_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   sepal_length  150 non-null    float64
 1   sepal_width   150 non-null    float64
 2   petal_length  150 non-null    float64
 3   petal_width   150 non-null    float64
 4   species       150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB

In [86]:
# Let's look at the (numeric) column values
sample_df.describe()

       sepal_length  sepal_width  petal_length  petal_width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.057333      3.758000     1.199333
std        0.828066     0.435866      1.765298     0.762238
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

In [87]:
# Any None values?
sample_df.isna().sum()

sepal_length    0
sepal_width     0
petal_length    0
petal_width     0
species         0
dtype: int64

Under The Hood - *you've already seen DataFrames (sort of)*

In [88]:
# A DataFrame is just a dictionary of dictionaries!
sample_df.to_dict()

{'sepal_length': {0: 5.1,
  1: 4.9,
  2: 4.7,
  3: 4.6,
  4: 5.0,
  5: 5.4,
  6: 4.6,
  7: 5.0,
  8: 4.4,
  9: 4.9,
  10: 5.4,
  11: 4.8,
  12: 4.8,
  13: 4.3,
  14: 5.8,
  15: 5.7,
  16: 5.4,
  17: 5.1,
  18: 5.7,
  19: 5.1,
  20: 5.4,
  21: 5.1,
  22: 4.6,
  23: 5.1,
  24: 4.8,
  25: 5.0,
  26: 5.0,
  27: 5.2,
  28: 5.2,
  29: 4.7,
  30: 4.8,
  31: 5.4,
  32: 5.2,
  33: 5.5,
  34: 4.9,
  35: 5.0,
  36: 5.5,
  37: 4.9,
  38: 4.4,
  39: 5.1,
  40: 5.0,
  41: 4.5,
  42: 4.4,
  43: 5.0,
  44: 5.1,
  45: 4.8,
  46: 5.1,
  47: 4.6,
  48: 5.3,
  49: 5.0,
  50: 7.0,
  51: 6.4,
  52: 6.9,
  53: 5.5,
  54: 6.5,
  55: 5.7,
  56: 6.3,
  57: 4.9,
  58: 6.6,
  59: 5.2,
  60: 5.0,
  61: 5.9,
  62: 6.0,
  63: 6.1,
  64: 5.6,
  65: 6.7,
  66: 5.6,
  67: 5.8,
  68: 6.2,
  69: 5.6,
  70: 5.9,
  71: 6.1,
  72: 6.3,
  73: 6.1,
  74: 6.4,
  75: 6.6,
  76: 6.8,
  77: 6.7,
  78: 6.0,
  79: 5.7,
  80: 5.5,
  81: 5.5,
  82: 5.8,
  83: 6.0,
  84: 5.4,
  85: 6.0,
  86: 6.7,
  87: 6.3,
  88: 5.6,
  89: 5.5,
  90: 5.5,
  91: 6.1,
  92: 5.8,
  93: 5.0,
  94: 5.6,
  95: 5.7,
  96: 5.7,
  97: 6.2,
  98: 5.1,
  99: 5.7,
  100: 6.3,
  101: 5.8,
  102: 7.1,
  103: 6.3,
  104: 6.5,
  105: 7.6,
  106: 4.9,
  107: 7.3,
  108: 6.7,
  109: 7.2,
  110: 6.5,
  111: 6.4,
  112: 6.8,
  113: 5.7,
  114: 5.8,
  115: 6.4,
  116: 6.5,
  117: 7.7,
  118: 7.7,
  119: 6.0,
  120: 6.9,
  121: 5.6,
  122: 7.7,
  123: 6.3,
  124: 6.7,
  125: 7.2,
  126: 6.2,
  127: 6.1,
  128: 6.4,
  129: 7.2,
  130: 7.4,
  131: 7.9,
  132: 6.4,
  133: 6.3,
  134: 6.1,
  135: 7.7,
  136: 6.3,
  137: 6.4,
  138: 6.0,
  139: 6.9,
  140: 6.7,
  141: 6.9,
  142: 5.8,
  143: 6.8,
  144: 6.7,
  145: 6.7,
  146: 6.3,
  147: 6.5,
  148: 6.2,
  149: 5.9},
 'sepal_width': {0: 3.5,
  1: 3.0,
  2: 3.2,
  3: 3.1,
  4: 3.6,
  5: 3.9,
  6: 3.4,
  7: 3.4,
  8: 2.9,
  9: 3.1,
  10: 3.7,
  11: 3.4,
  12: 3.0,
  13: 3.0,
  14: 4.0,
  15: 4.4,
  16: 3.9,
  17: 3.5,
  18: 3.8,
  19: 3.8,
  20: 3.4,
  21: 3.7,
  22: 3.6,
  23: 3.3,
  24: 3.4,
  25: 3.0,
  26: 3.4,
  27: 3.5,
  28: 3.4,
  29: 3.2,
  30: 3.1,
  31: 3.4,
  32: 4.1,
  33: 4.2,
  34: 3.1,
  35: 3.2,
  36: 3.5,
  37: 3.6,
  38: 3.0,
  39: 3.4,
  40: 3.5,
  41: 2.3,
  42: 3.2,
  43: 3.5,
  44: 3.8,
  45: 3.0,
  46: 3.8,
  47: 3.2,
  48: 3.7,
  49: 3.3,
  50: 3.2,
  51: 3.2,
  52: 3.1,
  53: 2.3,
  54: 2.8,
  55: 2.8,
  56: 3.3,
  57: 2.4,
  58: 2.9,
  59: 2.7,
  60: 2.0,
  61: 3.0,
  62: 2.2,
  63: 2.9,
  64: 2.9,
  65: 3.1,
  66: 3.0,
  67: 2.7,
  68: 2.2,
  69: 2.5,
  70: 3.2,
  71: 2.8,
  72: 2.5,
  73: 2.8,
  74: 2.9,
  75: 3.0,
  76: 2.8,
  77: 3.0,
  78: 2.9,
  79: 2.6,
  80: 2.4,
  81: 2.4,
  82: 2.7,
  83: 2.7,
  84: 3.0,
  85: 3.4,
  86: 3.1,
  87: 2.3,
  88: 3.0,
  89: 2.5,
  90: 2.6,
  91: 3.0,
  92: 2.6,
  93: 2.3,
  94: 2.7,
  95: 3.0,
  96: 2.9,
  97: 2.9,
  98: 2.5,
  99: 2.8,
  100: 3.3,
  101: 2.7,
  102: 3.0,
  103: 2.9,
  104: 3.0,
  105: 3.0,
  106: 2.5,
  107: 2.9,
  108: 2.5,
  109: 3.6,
  110: 3.2,
  111: 2.7,
  112: 3.0,
  113: 2.5,
  114: 2.8,
  115: 3.2,
  116: 3.0,
  117: 3.8,
  118: 2.6,
  119: 2.2,
  120: 3.2,
  121: 2.8,
  122: 2.8,
  123: 2.7,
  124: 3.3,
  125: 3.2,
  126: 2.8,
  127: 3.0,
  128: 2.8,
  129: 3.0,
  130: 2.8,
  131: 3.8,
  132: 2.8,
  133: 2.8,
  134: 2.6,
  135: 3.0,
  136: 3.4,
  137: 3.1,
  138: 3.0,
  139: 3.1,
  140: 3.1,
  141: 3.1,
  142: 2.7,
  143: 3.2,
  144: 3.3,
  145: 3.0,
  146: 2.5,
  147: 3.0,
  148: 3.4,
  149: 3.0},
 'petal_length': {0: 1.4,
  1: 1.4,
  2: 1.3,
  3: 1.5,
  4: 1.4,
  5: 1.7,
  6: 1.4,
  7: 1.5,
  8: 1.4,
  9: 1.5,
  10: 1.5,
  11: 1.6,
  12: 1.4,
  13: 1.1,
  14: 1.2,
  15: 1.5,
  16: 1.3,
  17: 1.4,
  18: 1.7,
  19: 1.5,
  20: 1.7,
  21: 1.5,
  22: 1.0,
  23: 1.7,
  24: 1.9,
  25: 1.6,
  26: 1.6,
  27: 1.5,
  28: 1.4,
  29: 1.6,
  30: 1.6,
  31: 1.5,
  32: 1.5,
  33: 1.4,
  34: 1.5,
  35: 1.2,
  36: 1.3,
  37: 1.4,
  38: 1.3,
  39: 1.5,
  40: 1.3,
  41: 1.3,
  42: 1.3,
  43: 1.6,
  44: 1.9,
  45: 1.4,
  46: 1.6,
  47: 1.4,
  48: 1.5,
  49: 1.4,
  50: 4.7,
  51: 4.5,
  52: 4.9,
  53: 4.0,
  54: 4.6,
  55: 4.5,
  56: 4.7,
  57: 3.3,
  58: 4.6,
  59: 3.9,
  60: 3.5,
  61: 4.2,
  62: 4.0,
  63: 4.7,
  64: 3.6,
  65: 4.4,
  66: 4.5,
  67: 4.1,
  68: 4.5,
  69: 3.9,
  70: 4.8,
  71: 4.0,
  72: 4.9,
  73: 4.7,
  74: 4.3,
  75: 4.4,
  76: 4.8,
  77: 5.0,
  78: 4.5,
  79: 3.5,
  80: 3.8,
  81: 3.7,
  82: 3.9,
  83: 5.1,
  84: 4.5,
  85: 4.5,
  86: 4.7,
  87: 4.4,
  88: 4.1,
  89: 4.0,
  90: 4.4,
  91: 4.6,
  92: 4.0,
  93: 3.3,
  94: 4.2,
  95: 4.2,
  96: 4.2,
  97: 4.3,
  98: 3.0,
  99: 4.1,
  100: 6.0,
  101: 5.1,
  102: 5.9,
  103: 5.6,
  104: 5.8,
  105: 6.6,
  106: 4.5,
  107: 6.3,
  108: 5.8,
  109: 6.1,
  110: 5.1,
  111: 5.3,
  112: 5.5,
  113: 5.0,
  114: 5.1,
  115: 5.3,
  116: 5.5,
  117: 6.7,
  118: 6.9,
  119: 5.0,
  120: 5.7,
  121: 4.9,
  122: 6.7,
  123: 4.9,
  124: 5.7,
  125: 6.0,
  126: 4.8,
  127: 4.9,
  128: 5.6,
  129: 5.8,
  130: 6.1,
  131: 6.4,
  132: 5.6,
  133: 5.1,
  134: 5.6,
  135: 6.1,
  136: 5.6,
  137: 5.5,
  138: 4.8,
  139: 5.4,
  140: 5.6,
  141: 5.1,
  142: 5.1,
  143: 5.9,
  144: 5.7,
  145: 5.2,
  146: 5.0,
  147: 5.2,
  148: 5.4,
  149: 5.1},
 'petal_width': {0: 0.2,
  1: 0.2,
  2: 0.2,
  3: 0.2,
  4: 0.2,
  5: 0.4,
  6: 0.3,
  7: 0.2,
  8: 0.2,
  9: 0.1,
  10: 0.2,
  11: 0.2,
  12: 0.1,
  13: 0.1,
  14: 0.2,
  15: 0.4,
  16: 0.4,
  17: 0.3,
  18: 0.3,
  19: 0.3,
  20: 0.2,
  21: 0.4,
  22: 0.2,
  23: 0.5,
  24: 0.2,
  25: 0.2,
  26: 0.4,
  27: 0.2,
  28: 0.2,
  29: 0.2,
  30: 0.2,
  31: 0.4,
  32: 0.1,
  33: 0.2,
  34: 0.2,
  35: 0.2,
  36: 0.2,
  37: 0.1,
  38: 0.2,
  39: 0.2,
  40: 0.3,
  41: 0.3,
  42: 0.2,
  43: 0.6,
  44: 0.4,
  45: 0.3,
  46: 0.2,
  47: 0.2,
  48: 0.2,
  49: 0.2,
  50: 1.4,
  51: 1.5,
  52: 1.5,
  53: 1.3,
  54: 1.5,
  55: 1.3,
  56: 1.6,
  57: 1.0,
  58: 1.3,
  59: 1.4,
  60: 1.0,
  61: 1.5,
  62: 1.0,
  63: 1.4,
  64: 1.3,
  65: 1.4,
  66: 1.5,
  67: 1.0,
  68: 1.5,
  69: 1.1,
  70: 1.8,
  71: 1.3,
  72: 1.5,
  73: 1.2,
  74: 1.3,
  75: 1.4,
  76: 1.4,
  77: 1.7,
  78: 1.5,
  79: 1.0,
  80: 1.1,
  81: 1.0,
  82: 1.2,
  83: 1.6,
  84: 1.5,
  85: 1.6,
  86: 1.5,
  87: 1.3,
  88: 1.3,
  89: 1.3,
  90: 1.2,
  91: 1.4,
  92: 1.2,
  93: 1.0,
  94: 1.3,
  95: 1.2,
  96: 1.3,
  97: 1.3,
  98: 1.1,
  99: 1.3,
  100: 2.5,
  101: 1.9,
  102: 2.1,
  103: 1.8,
  104: 2.2,
  105: 2.1,
  106: 1.7,
  107: 1.8,
  108: 1.8,
  109: 2.5,
  110: 2.0,
  111: 1.9,
  112: 2.1,
  113: 2.0,
  114: 2.4,
  115: 2.3,
  116: 1.8,
  117: 2.2,
  118: 2.3,
  119: 1.5,
  120: 2.3,
  121: 2.0,
  122: 2.0,
  123: 1.8,
  124: 2.1,
  125: 1.8,
  126: 1.8,
  127: 1.8,
  128: 2.1,
  129: 1.6,
  130: 1.9,
  131: 2.0,
  132: 2.2,
  133: 1.5,
  134: 1.4,
  135: 2.3,
  136: 2.4,
  137: 1.8,
  138: 1.8,
  139: 2.1,
  140: 2.4,
  141: 2.3,
  142: 1.9,
  143: 2.3,
  144: 2.5,
  145: 2.3,
  146: 1.9,
  147: 2.0,
  148: 2.3,
  149: 1.8},
 'species': {0: 'setosa',
  1: 'setosa',
  2: 'setosa',
  3: 'setosa',
  4: 'setosa',
  5: 'setosa',
  6: 'setosa',
  7: 'setosa',
  8: 'setosa',
  9: 'setosa',
  10: 'setosa',
  11: 'setosa',
  12: 'setosa',
  13: 'setosa',
  14: 'setosa',
  15: 'setosa',
  16: 'setosa',
  17: 'setosa',
  18: 'setosa',
  19: 'setosa',
  20: 'setosa',
  21: 'setosa',
  22: 'setosa',
  23: 'setosa',
  24: 'setosa',
  25: 'setosa',
  26: 'setosa',
  27: 'setosa',
  28: 'setosa',
  29: 'setosa',
  30: 'setosa',
  31: 'setosa',
  32: 'setosa',
  33: 'setosa',
  34: 'setosa',
  35: 'setosa',
  36: 'setosa',
  37: 'setosa',
  38: 'setosa',
  39: 'setosa',
  40: 'setosa',
  41: 'setosa',
  42: 'setosa',
  43: 'setosa',
  44: 'setosa',
  45: 'setosa',
  46: 'setosa',
  47: 'setosa',
  48: 'setosa',
  49: 'setosa',
  50: 'versicolor',
  51: 'versicolor',
  52: 'versicolor',
  53: 'versicolor',
  54: 'versicolor',
  55: 'versicolor',
  56: 'versicolor',
  57: 'versicolor',
  58: 'versicolor',
  59: 'versicolor',
  60: 'versicolor',
  61: 'versicolor',
  62: 'versicolor',
  63: 'versicolor',
  64: 'versicolor',
  65: 'versicolor',
  66: 'versicolor',
  67: 'versicolor',
  68: 'versicolor',
  69: 'versicolor',
  70: 'versicolor',
  71: 'versicolor',
  72: 'versicolor',
  73: 'versicolor',
  74: 'versicolor',
  75: 'versicolor',
  76: 'versicolor',
  77: 'versicolor',
  78: 'versicolor',
  79: 'versicolor',
  80: 'versicolor',
  81: 'versicolor',
  82: 'versicolor',
  83: 'versicolor',
  84: 'versicolor',
  85: 'versicolor',
  86: 'versicolor',
  87: 'versicolor',
  88: 'versicolor',
  89: 'versicolor',
  90: 'versicolor',
  91: 'versicolor',
  92: 'versicolor',
  93: 'versicolor',
  94: 'versicolor',
  95: 'versicolor',
  96: 'versicolor',
  97: 'versicolor',
  98: 'versicolor',
  99: 'versicolor',
  100: 'virginica',
  101: 'virginica',
  102: 'virginica',
  103: 'virginica',
  104: 'virginica',
  105: 'virginica',
  106: 'virginica',
  107: 'virginica',
  108: 'virginica',
  109: 'virginica',
  110: 'virginica',
  111: 'virginica',
  112: 'virginica',
  113: 'virginica',
  114: 'virginica',
  115: 'virginica',
  116: 'virginica',
  117: 'virginica',
  118: 'virginica',
  119: 'virginica',
  120: 'virginica',
  121: 'virginica',
  122: 'virginica',
  123: 'virginica',
  124: 'virginica',
  125: 'virginica',
  126: 'virginica',
  127: 'virginica',
  128: 'virginica',
  129: 'virginica',
  130: 'virginica',
  131: 'virginica',
  132: 'virginica',
  133: 'virginica',
  134: 'virginica',
  135: 'virginica',
  136: 'virginica',
  137: 'virginica',
  138: 'virginica',
  139: 'virginica',
  140: 'virginica',
  141: 'virginica',
  142: 'virginica',
  143: 'virginica',
  144: 'virginica',
  145: 'virginica',
  146: 'virginica',
  147: 'virginica',
  148: 'virginica',
  149: 'virginica'}}

In [89]:
# Let's look at this again
sample_df

     sepal_length  sepal_width  petal_length  petal_width     species
0             5.1          3.5           1.4          0.2      setosa
1             4.9          3.0           1.4          0.2      setosa
2             4.7          3.2           1.3          0.2      setosa
3             4.6          3.1           1.5          0.2      setosa
4             5.0          3.6           1.4          0.2      setosa
5             5.4          3.9           1.7          0.4      setosa
6             4.6          3.4           1.4          0.3      setosa
7             5.0          3.4           1.5          0.2      setosa
8             4.4          2.9           1.4          0.2      setosa
9             4.9          3.1           1.5          0.1      setosa
10            5.4          3.7           1.5          0.2      setosa
11            4.8          3.4           1.6          0.2      setosa
12            4.8          3.0           1.4          0.1      setosa
13            4.3          3.0           1.1          0.1      setosa
14            5.8          4.0           1.2          0.2      setosa
15            5.7          4.4           1.5          0.4      setosa
16            5.4          3.9           1.3          0.4      setosa
17            5.1          3.5           1.4          0.3      setosa
18            5.7          3.8           1.7          0.3      setosa
19            5.1          3.8           1.5          0.3      setosa
20            5.4          3.4           1.7          0.2      setosa
21            5.1          3.7           1.5          0.4      setosa
22            4.6          3.6           1.0          0.2      setosa
23            5.1          3.3           1.7          0.5      setosa
24            4.8          3.4           1.9          0.2      setosa
25            5.0          3.0           1.6          0.2      setosa
26            5.0          3.4           1.6          0.4      setosa
27            5.2          3.5           1.5          0.2      setosa
28            5.2          3.4           1.4          0.2      setosa
29            4.7          3.2           1.6          0.2      setosa
30            4.8          3.1           1.6          0.2      setosa
31            5.4          3.4           1.5          0.4      setosa
32            5.2          4.1           1.5          0.1      setosa
33            5.5          4.2           1.4          0.2      setosa
34            4.9          3.1           1.5          0.2      setosa
35            5.0          3.2           1.2          0.2      setosa
36            5.5          3.5           1.3          0.2      setosa
37            4.9          3.6           1.4          0.1      setosa
38            4.4          3.0           1.3          0.2      setosa
39            5.1          3.4           1.5          0.2      setosa
40            5.0          3.5           1.3          0.3      setosa
41            4.5          2.3           1.3          0.3      setosa
42            4.4          3.2           1.3          0.2      setosa
43            5.0          3.5           1.6          0.6      setosa
44            5.1          3.8           1.9          0.4      setosa
45            4.8          3.0           1.4          0.3      setosa
46            5.1          3.8           1.6          0.2      setosa
47            4.6          3.2           1.4          0.2      setosa
48            5.3          3.7           1.5          0.2      setosa
49            5.0          3.3           1.4          0.2      setosa
50            7.0          3.2           4.7          1.4  versicolor
51            6.4          3.2           4.5          1.5  versicolor
52            6.9          3.1           4.9          1.5  versicolor
53            5.5          2.3           4.0          1.3  versicolor
54            6.5          2.8           4.6          1.5  versicolor
55            5.7          2.8           4.5          1.3  versicolor
56            6.3          3.3           4.7          1.6  versicolor
57            4.9          2.4           3.3          1.0  versicolor
58            6.6          2.9           4.6          1.3  versicolor
59            5.2          2.7           3.9          1.4  versicolor
60            5.0          2.0           3.5          1.0  versicolor
61            5.9          3.0           4.2          1.5  versicolor
62            6.0          2.2           4.0          1.0  versicolor
63            6.1          2.9           4.7          1.4  versicolor
64            5.6          2.9           3.6          1.3  versicolor
65            6.7          3.1           4.4          1.4  versicolor
66            5.6          3.0           4.5          1.5  versicolor
67            5.8          2.7           4.1          1.0  versicolor
68            6.2          2.2           4.5          1.5  versicolor
69            5.6          2.5           3.9          1.1  versicolor
70            5.9          3.2           4.8          1.8  versicolor
71            6.1          2.8           4.0          1.3  versicolor
72            6.3          2.5           4.9          1.5  versicolor
73            6.1          2.8           4.7          1.2  versicolor
74            6.4          2.9           4.3          1.3  versicolor
75            6.6          3.0           4.4          1.4  versicolor
76            6.8          2.8           4.8          1.4  versicolor
77            6.7          3.0           5.0          1.7  versicolor
78            6.0          2.9           4.5          1.5  versicolor
79            5.7          2.6           3.5          1.0  versicolor
80            5.5          2.4           3.8          1.1  versicolor
81            5.5          2.4           3.7          1.0  versicolor
82            5.8          2.7           3.9          1.2  versicolor
83            6.0          2.7           5.1          1.6  versicolor
84            5.4          3.0           4.5          1.5  versicolor
85            6.0          3.4           4.5          1.6  versicolor
86            6.7          3.1           4.7          1.5  versicolor
87            6.3          2.3           4.4          1.3  versicolor
88            5.6          3.0           4.1          1.3  versicolor
89            5.5          2.5           4.0          1.3  versicolor
90            5.5          2.6           4.4          1.2  versicolor
91            6.1          3.0           4.6          1.4  versicolor
92            5.8          2.6           4.0          1.2  versicolor
93            5.0          2.3           3.3          1.0  versicolor
94            5.6          2.7           4.2          1.3  versicolor
95            5.7          3.0           4.2          1.2  versicolor
96            5.7          2.9           4.2          1.3  versicolor
97            6.2          2.9           4.3          1.3  versicolor
98            5.1          2.5           3.0          1.1  versicolor
99            5.7          2.8           4.1          1.3  versicolor
100           6.3          3.3           6.0          2.5   virginica
101           5.8          2.7           5.1          1.9   virginica
102           7.1          3.0           5.9          2.1   virginica
103           6.3          2.9           5.6          1.8   virginica
104           6.5          3.0           5.8          2.2   virginica
105           7.6          3.0           6.6          2.1   virginica
106           4.9          2.5           4.5          1.7   virginica
107           7.3          2.9           6.3          1.8   virginica
108           6.7          2.5           5.8          1.8   virginica
109           7.2          3.6           6.1          2.5   virginica
110           6.5          3.2           5.1          2.0   virginica
111           6.4          2.7           5.3          1.9   virginica
112           6.8          3.0           5.5          2.1   virginica
113           5.7          2.5           5.0          2.0   virginica
114           5.8          2.8           5.1          2.4   virginica
115           6.4          3.2           5.3          2.3   virginica
116           6.5          3.0           5.5          1.8   virginica
117           7.7          3.8           6.7          2.2   virginica
118           7.7          2.6           6.9          2.3   virginica
119           6.0          2.2           5.0          1.5   virginica
120           6.9          3.2           5.7          2.3   virginica
121           5.6          2.8           4.9          2.0   virginica
122           7.7          2.8           6.7          2.0   virginica
123           6.3          2.7           4.9          1.8   virginica
124           6.7          3.3           5.7          2.1   virginica
125           7.2          3.2           6.0          1.8   virginica
126           6.2          2.8           4.8          1.8   virginica
127           6.1          3.0           4.9          1.8   virginica
128           6.4          2.8           5.6          2.1   virginica
129           7.2          3.0           5.8          1.6   virginica
130           7.4          2.8           6.1          1.9   virginica
131           7.9          3.8           6.4          2.0   virginica
132           6.4          2.8           5.6          2.2   virginica
133           6.3          2.8           5.1          1.5   virginica
134           6.1          2.6           5.6          1.4   virginica
135           7.7          3.0           6.1          2.3   virginica
136           6.3          3.4           5.6          2.4   virginica
137           6.4          3.1           5.5          1.8   virginica
138           6.0          3.0           4.8          1.8   virginica
139           6.9          3.1           5.4          2.1   virginica
140           6.7          3.1           5.6          2.4   virginica
141           6.9          3.1           5.1          2.3   virginica
142           5.8          2.7           5.1          1.9   virginica
143           6.8          3.2           5.9          2.3   virginica
144           6.7          3.3           5.7          2.5   virginica
145           6.7          3.0           5.2          2.3   virginica
146           6.3          2.5           5.0          1.9   virginica
147           6.5          3.0           5.2          2.0   virginica
148           6.2          3.4           5.4          2.3   virginica
149           5.9          3.0           5.1          1.8   virginica

In [90]:
# Column selection is the same as dictionary value lookup
sample_df['sepal_length']

0      5.1
1      4.9
2      4.7
3      4.6
4      5.0
5      5.4
6      4.6
7      5.0
8      4.4
9      4.9
10     5.4
11     4.8
12     4.8
13     4.3
14     5.8
15     5.7
16     5.4
17     5.1
18     5.7
19     5.1
20     5.4
21     5.1
22     4.6
23     5.1
24     4.8
25     5.0
26     5.0
27     5.2
28     5.2
29     4.7
30     4.8
31     5.4
32     5.2
33     5.5
34     4.9
35     5.0
36     5.5
37     4.9
38     4.4
39     5.1
40     5.0
41     4.5
42     4.4
43     5.0
44     5.1
45     4.8
46     5.1
47     4.6
48     5.3
49     5.0
50     7.0
51     6.4
52     6.9
53     5.5
54     6.5
55     5.7
56     6.3
57     4.9
58     6.6
59     5.2
60     5.0
61     5.9
62     6.0
63     6.1
64     5.6
65     6.7
66     5.6
67     5.8
68     6.2
69     5.6
70     5.9
71     6.1
72     6.3
73     6.1
74     6.4
75     6.6
76     6.8
77     6.7
78     6.0
79     5.7
80     5.5
81     5.5
82     5.8
83     6.0
84     5.4
85     6.0
86     6.7
87     6.3
88     5.6
89     5.5
90     5.5
91     6.1
92     5.8
93     5.0
94     5.6
95     5.7
96     5.7
97     6.2
98     5.1
99     5.7
100    6.3
101    5.8
102    7.1
103    6.3
104    6.5
105    7.6
106    4.9
107    7.3
108    6.7
109    7.2
110    6.5
111    6.4
112    6.8
113    5.7
114    5.8
115    6.4
116    6.5
117    7.7
118    7.7
119    6.0
120    6.9
121    5.6
122    7.7
123    6.3
124    6.7
125    7.2
126    6.2
127    6.1
128    6.4
129    7.2
130    7.4
131    7.9
132    6.4
133    6.3
134    6.1
135    7.7
136    6.3
137    6.4
138    6.0
139    6.9
140    6.7
141    6.9
142    5.8
143    6.8
144    6.7
145    6.7
146    6.3
147    6.5
148    6.2
149    5.9
Name: sepal_length, dtype: float64

In [91]:
# Instead of an outright dictionary this is a special Pandas data type called a 'Series'
type(sample_df['sepal_length'])

pandas.core.series.Series

In [92]:
# Let's lookup the first value of this 'Series'
sample_df['sepal_length'][0]

5.1

In [93]:
# It's native type we recognise! Float
type(sample_df['sepal_length'][0])

numpy.float64

Let's Create Our Own From Scratch!

In [94]:
# Starting with the price dictionary
inventory_price_dict

{'apple': 0.25,
 'banana': 0.25,
 'pear': 0.3,
 'jackfruit': 0.6,
 'digestives (pack)': 1.5,
 'penguins (pack)': 2,
 'hobnob (pack)': 2,
 'rice (pack)': 2.5,
 'potato': 0.5,
 'cod': 3.5,
 'prawns': 4,
 'seabass': 5,
 'salmon': 4,
 'tuna': 5,
 'snickers': 0.75,
 'haddock': 3}

In [95]:
# We can reformat into a DataFrame (don't need to understand syntax unless you're interested)
food_price_df=pd.DataFrame.from_dict(inventory_price_dict,orient='index',columns=['Price']).reset_index().rename(columns={'index':'Item'})
food_price_df

                 Item  Price
0               apple   0.25
1              banana   0.25
2                pear   0.30
3           jackfruit   0.60
4   digestives (pack)   1.50
5     penguins (pack)   2.00
6       hobnob (pack)   2.00
7         rice (pack)   2.50
8              potato   0.50
9                 cod   3.50
10             prawns   4.00
11            seabass   5.00
12             salmon   4.00
13               tuna   5.00
14           snickers   0.75
15            haddock   3.00

Let's Import Data as a DataFrame!

In [96]:
# Import csv using inbuilt pandas (pd) function [read_csv]
food_guide_df=pd.read_csv('Food_Guide.csv')
food_guide_df

                 Item Health_Rating           Allergens
0               apple             A                 NaN
1              banana             A                 NaN
2                pear             A                 NaN
3           jackfruit             A                 NaN
4   digestives (pack)             E          ["Gluten"]
5     penguins (pack)             F  ["Gluten","Dairy"]
6       hobnob (pack)             E  ["Gluten","Dairy"]
7         rice (pack)             C                 NaN
8              potato             C                 NaN
9                 cod             B                 NaN
10             prawns             B       ["Shellfish"]
11            seabass             B                 NaN
12             salmon             A                 NaN
13               tuna             B                 NaN
14           snickers             F           ["Dairy"]
15            haddock             B                 NaN

In [97]:
# Let's take a look at types...no list specificity
food_guide_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16 entries, 0 to 15
Data columns (total 3 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Item           16 non-null     object
 1   Health_Rating  16 non-null     object
 2   Allergens      5 non-null      object
dtypes: object(3)
memory usage: 512.0+ bytes

In [98]:
# Let's convert Allergens to list via one-line loop and 'ast' package

import ast

food_guide_df['Allergens']=[ast.literal_eval(x) for x in food_guide_df['Allergens'].fillna("[]")]
food_guide_df

                 Item Health_Rating        Allergens
0               apple             A               []
1              banana             A               []
2                pear             A               []
3           jackfruit             A               []
4   digestives (pack)             E         [Gluten]
5     penguins (pack)             F  [Gluten, Dairy]
6       hobnob (pack)             E  [Gluten, Dairy]
7         rice (pack)             C               []
8              potato             C               []
9                 cod             B               []
10             prawns             B      [Shellfish]
11            seabass             B               []
12             salmon             A               []
13               tuna             B               []
14           snickers             F          [Dairy]
15            haddock             B               []

In [99]:
type(food_guide_df['Allergens'][0])

list

Data Wrangling Basics

In [100]:
# Subselect Row For Stacking
food_guide_df[15:]

       Item Health_Rating Allergens
15  haddock             B        []

In [101]:
# Stack data using inbuilt pandas (pd) function [concat]
food_guide_df_duped=pd.concat([food_guide_df,food_guide_df[15:]]).reset_index(drop=True)
food_guide_df_duped

                 Item Health_Rating        Allergens
0               apple             A               []
1              banana             A               []
2                pear             A               []
3           jackfruit             A               []
4   digestives (pack)             E         [Gluten]
5     penguins (pack)             F  [Gluten, Dairy]
6       hobnob (pack)             E  [Gluten, Dairy]
7         rice (pack)             C               []
8              potato             C               []
9                 cod             B               []
10             prawns             B      [Shellfish]
11            seabass             B               []
12             salmon             A               []
13               tuna             B               []
14           snickers             F          [Dairy]
15            haddock             B               []
16            haddock             B               []

In [102]:
# Dedupe data using inbuilt pandas (pd) DataFrame method [drop_duplicates]
food_guide_df_deduped=food_guide_df_duped.drop_duplicates(subset='Item')
food_guide_df_deduped

                 Item Health_Rating        Allergens
0               apple             A               []
1              banana             A               []
2                pear             A               []
3           jackfruit             A               []
4   digestives (pack)             E         [Gluten]
5     penguins (pack)             F  [Gluten, Dairy]
6       hobnob (pack)             E  [Gluten, Dairy]
7         rice (pack)             C               []
8              potato             C               []
9                 cod             B               []
10             prawns             B      [Shellfish]
11            seabass             B               []
12             salmon             A               []
13               tuna             B               []
14           snickers             F          [Dairy]
15            haddock             B               []

In [103]:
# Merge data using inbuilt pandas (pd) DataFrame method [merge]
food_guide_price_df=food_guide_df_deduped.merge(food_price_df)
food_guide_price_df

                 Item Health_Rating        Allergens  Price
0               apple             A               []   0.25
1              banana             A               []   0.25
2                pear             A               []   0.30
3           jackfruit             A               []   0.60
4   digestives (pack)             E         [Gluten]   1.50
5     penguins (pack)             F  [Gluten, Dairy]   2.00
6       hobnob (pack)             E  [Gluten, Dairy]   2.00
7         rice (pack)             C               []   2.50
8              potato             C               []   0.50
9                 cod             B               []   3.50
10             prawns             B      [Shellfish]   4.00
11            seabass             B               []   5.00
12             salmon             A               []   4.00
13               tuna             B               []   5.00
14           snickers             F          [Dairy]   0.75
15            haddock             B               []   3.00

In [104]:
# Explode list column using inbuilt pandas (pd) DataFrame method [explode]
food_guide_price_df_long=food_guide_price_df.explode('Allergens').fillna('').reset_index(drop=True)
food_guide_price_df_long

                 Item Health_Rating  Allergens  Price
0               apple             A              0.25
1              banana             A              0.25
2                pear             A              0.30
3           jackfruit             A              0.60
4   digestives (pack)             E     Gluten   1.50
5     penguins (pack)             F     Gluten   2.00
6     penguins (pack)             F      Dairy   2.00
7       hobnob (pack)             E     Gluten   2.00
8       hobnob (pack)             E      Dairy   2.00
9         rice (pack)             C              2.50
10             potato             C              0.50
11                cod             B              3.50
12             prawns             B  Shellfish   4.00
13            seabass             B              5.00
14             salmon             A              4.00
15               tuna             B              5.00
16           snickers             F      Dairy   0.75
17            haddock             B              3.00

In [105]:
# Reformat dataframe using inbuilt pandas (pd) DataFrame methods [groupby/apply]
food_guide_price_df_wide=food_guide_price_df_long.groupby(['Item','Health_Rating','Price'])['Allergens'].apply(list).reset_index()
food_guide_price_df_wide

                 Item Health_Rating  Price        Allergens
0               apple             A   0.25               []
1              banana             A   0.25               []
2                 cod             B   3.50               []
3   digestives (pack)             E   1.50         [Gluten]
4             haddock             B   3.00               []
5       hobnob (pack)             E   2.00  [Gluten, Dairy]
6           jackfruit             A   0.60               []
7                pear             A   0.30               []
8     penguins (pack)             F   2.00  [Gluten, Dairy]
9              potato             C   0.50               []
10             prawns             B   4.00      [Shellfish]
11        rice (pack)             C   2.50               []
12             salmon             A   4.00               []
13            seabass             B   5.00               []
14           snickers             F   0.75          [Dairy]
15               tuna             B   5.00               []

In [106]:
# Add to dataframe
food_guide_price_df_long['Price_Inflated']=food_guide_price_df_long['Price']*1.05
food_guide_price_df_long

                 Item Health_Rating  Allergens  Price  Price_Inflated
0               apple             A              0.25          0.2625
1              banana             A              0.25          0.2625
2                pear             A              0.30          0.3150
3           jackfruit             A              0.60          0.6300
4   digestives (pack)             E     Gluten   1.50          1.5750
5     penguins (pack)             F     Gluten   2.00          2.1000
6     penguins (pack)             F      Dairy   2.00          2.1000
7       hobnob (pack)             E     Gluten   2.00          2.1000
8       hobnob (pack)             E      Dairy   2.00          2.1000
9         rice (pack)             C              2.50          2.6250
10             potato             C              0.50          0.5250
11                cod             B              3.50          3.6750
12             prawns             B  Shellfish   4.00          4.2000
13            seabass             B              5.00          5.2500
14             salmon             A              4.00          4.2000
15               tuna             B              5.00          5.2500
16           snickers             F      Dairy   0.75          0.7875
17            haddock             B              3.00          3.1500

[Basic Data Analysis](https://pandas.pydata.org/Pandas_Cheat_Sheet.pdf)

In [107]:
# Subselect Rows
food_guide_price_df_long[10:15]

       Item Health_Rating  Allergens  Price  Price_Inflated
10   potato             C               0.5           0.525
11      cod             B               3.5           3.675
12   prawns             B  Shellfish    4.0           4.200
13  seabass             B               5.0           5.250
14   salmon             A               4.0           4.200

In [108]:
# Subselect Columns
food_guide_price_df_long[['Item','Health_Rating']]

                 Item Health_Rating
0               apple             A
1              banana             A
2                pear             A
3           jackfruit             A
4   digestives (pack)             E
5     penguins (pack)             F
6     penguins (pack)             F
7       hobnob (pack)             E
8       hobnob (pack)             E
9         rice (pack)             C
10             potato             C
11                cod             B
12             prawns             B
13            seabass             B
14             salmon             A
15               tuna             B
16           snickers             F
17            haddock             B

In [109]:
# Subselect both Rows and Columns using inbuilt pandas DataFrame method (loc)
food_guide_price_df_long.loc[10:15,['Item','Health_Rating']]

       Item Health_Rating
10   potato             C
11      cod             B
12   prawns             B
13  seabass             B
14   salmon             A
15     tuna             B

In [110]:
# Can filter rows using boolean comparison
food_guide_price_df_long['Price']>2.0

0     False
1     False
2     False
3     False
4     False
5     False
6     False
7     False
8     False
9      True
10    False
11     True
12     True
13     True
14     True
15     True
16    False
17     True
Name: Price, dtype: bool

In [111]:
# Can filter rows using boolean comparison
spenny_food=food_guide_price_df_long[food_guide_price_df_long['Price']>2.0]
spenny_food

           Item Health_Rating  Allergens  Price  Price_Inflated
9   rice (pack)             C               2.5           2.625
11          cod             B               3.5           3.675
12       prawns             B  Shellfish    4.0           4.200
13      seabass             B               5.0           5.250
14       salmon             A               4.0           4.200
15         tuna             B               5.0           5.250
17      haddock             B               3.0           3.150

In [112]:
# Let's sort resultant DataFrame
spenny_food.sort_values('Price',ascending=False)

           Item Health_Rating  Allergens  Price  Price_Inflated
13      seabass             B               5.0           5.250
15         tuna             B               5.0           5.250
12       prawns             B  Shellfish    4.0           4.200
14       salmon             A               4.0           4.200
11          cod             B               3.5           3.675
17      haddock             B               3.0           3.150
9   rice (pack)             C               2.5           2.625

In [113]:
# We can use inbuilt pandas (pd) DataFrame method [value_counts]
spenny_food.sort_values('Health_Rating')['Health_Rating'].value_counts(sort=False)

A    1
B    5
C    1
Name: Health_Rating, dtype: int64

In [114]:
# We can use inbuilt pandas (pd) DataFrame methods [groupby/mean] to query dataframe
spenny_food.sort_values('Health_Rating').groupby('Health_Rating')['Price'].mean().reset_index()

  Health_Rating  Price
0             A    4.0
1             B    4.1
2             C    2.5

## Part 2: Okay, Let's *Really* Get Programming